

@font-face {

  font-family: 'thaisans_neueextra_light';
  src: url('library/fonts/ThaiSansLite.eot');
  src: url('library/fonts//ThaiSansLite.eot#iefix') format('embedded-opentype'), url('library/fonts//ThaiSansLite.woff') format('woff'), url('library/fonts//ThaiSansLite.ttf') format('truetype'), url('library/fonts//ThaiSansLite.svg#Bebas') format('svg');
  font-weight: normal;
  font-style: normal;



}



a{
  text-decoration-line: none!important;
}
body{
  margin: 0px!important;
}
.fix-width{
  width: 1170px;
  margin:auto;

}
.header-style-1{
  background-color: #964420;
  width: 100%;
  height: 25px;

}
.header-style-2{
  width: 100%;
  height: 70px;
  background-color: #342014;
  margin: auto;
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-family: 'thaisans_neueextra_light';
   position: relative;

}

.header-style-3{
  background-color: #f0e7dd;
  width: 100%;
  height: 25px;
 
}
.logo{
  margin: auto;
  width: 30%;
  height: 70px;
  float: left;
  z-index: 0;
  position: relative;
  float: left;
}

.logo img{
  position: absolute;
  z-index: 1;
  left: 0;
  top: -20px;
  width: 100%;


}


#cssmenu {
  width: auto;
  font-family: 'thaisans_neueextra_light';
  font-size: 25px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: left;
  float: left;
  width: 70%;
}
#cssmenu > ul {
  width: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 70px;
  background: #342014;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  float: right;
}
#cssmenu > ul li#responsive-tab {
  display: none;
  /* Hide for large screens */

}
#cssmenu > ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
#cssmenu > ul li.right {
  float: right;
}
#cssmenu > ul li.has-sub {
  position: relative;
}
#cssmenu > ul li.has-sub:hover ul {
  display: block;
}
#cssmenu > ul li.has-sub ul {
  display: none;
  width: 250px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #342014;
  z-index: 0px;
  border-bottom: 3px solid #d9ced2;
  border-top: 0 none;
}
#cssmenu > ul li.has-sub ul li {
  display: block;
}
#cssmenu > ul li.has-sub > a {
  background-image: url('library/images/caret.png');
  background-repeat: no-repeat;
  background-position: 95% -130%;
}
#cssmenu > ul li.has-sub > a.active,
#cssmenu > ul li.has-sub > a:hover {
  background: #6a3212 url('library/images/caret.png') no-repeat;
  background-position: 95% -130%;
}
#cssmenu > ul li a {
  display: block;
  padding: 27px 15px;
  text-decoration: none;
  color: #fff;

}
#cssmenu > ul li a.active,
#cssmenu > ul li a:hover {
  background: #6a3212;
  color: #fff;

}

.slide{
  width: 100%;
  height: 400px;
}
.body-bg{
  background-color: #f0e7dd;
  font-family: 'thaisans_neueextra_light';
  height: auto;
}

.banner{
  margin-top: 30px;
}
.blog
{
  color: #964420;
  font-size: 25px;
}
.text-title{
  background-color: #964420;
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 25px;
  color: #fff;
  padding-top: 5px;
  margin-bottom: 15px;
}
.sidebar{
  clear: both;
  margin-bottom: 15px;
}
.sidebar .list
{
  margin-left: 15px; 
  line-height: 24px;
   font-size: 22px;


}
.sidebar .list .sub-li
{
  margin-left: 15px; 
  line-height: 24px;
   font-size: 20px;


}

.blog{
  margin-bottom: 30px;
}
.blog a
{
 color: #964420!important;
}
.blog  a:hover
{
 color: #c85726!important;
}
.content {
  margin-bottom: 15px;
}
.content p
{
  line-height: 24px;
}
.more{
  float: right;
}
.gallery-title {
  line-height: 15px;
  padding-top: 0px;
}
/*footer style*/

.footer-text{
  color: #fff;
  font-family: 'thaisans_neueextra_light'!important;
  font-size: 20px!important;
  margin-top: 10px;
  line-height: 20px;
  text-align: left;
}
.left-box{
float: left;
}
.right-box{
  float: right;
}
.header-style-1 .footer-text{
  margin-top: 0px;
}

/*add member input style*/



@media (max-width: 1024px) {
.fix-width{
  width: 100%;
  margin:auto;
}
.logo img{
  top: 0px;
}
  #cssmenu {
    font-size: 18px;
  }
  .slide
  {
    height: auto;
  }
}
@media (max-width: 600px) {
  


  .header-style-2{
    height: 115px;
  }
  .logo,.fix-width{
    width: 100%;
  }
  #cssmenu{
    width: 100%;
    margin-left:0px;
    padding-top: 45px;
  }
  #cssmenu > ul {
    width: 100%;
    height: auto;
    clear: both;
  }
  #cssmenu > ul li#responsive-tab {
    display: block;
  }
  #cssmenu > ul li#responsive-tab a {
    background: url('library/images/menu.png') no-repeat;
    background-position: 95% -35%;
  }
  #cssmenu > ul li#responsive-tab a:hover {
    background-color: #6a3212;
    background-position: 95% 135%;
  }
  #cssmenu > ul li {
    display: none;
  }
  #cssmenu > ul li a {

    padding: 12px 15px;
  }
  #cssmenu > ul li.right {
    float: none;
  }
  #cssmenu > ul li.has-sub {
    position: relative;
  }
  #cssmenu > ul li.has-sub ul {
    display: block;
    position: static;
    width: 100%;
    background: #342014;
    border: 0 none;
  }
  #cssmenu > ul li.has-sub ul li {
    display: block !important;
  }
  #cssmenu > ul li.has-sub ul li a span {
    display: block;
    padding-left: 24px;
  }
  #cssmenu > ul li.has-sub > a {
    background-image: none;
  }
  .sidebar .list
  {
    margin-bottom: 30px;

  }

  .content .more{
  float: left;
  }
}
/* Make sure they show even if hidden in mobile view by JS */
@media (min-width: 600px) {
  #cssmenu > ul > li.collapsed {
    display: inline-block !important;
    *display: inline;
    zoom: 1;
  }
  #cssmenu > ul ul li.collapsed {
    display: block !important;
  }
  .content .more{
  float: left;
  }

}
